.message-board {
  padding: 2rem;
  background-color: #fdf6f9;
  color: #333;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 7vh;
  margin-right: 3vh;
  margin-left: 3vh;
  
}

.message-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}